# Google Generative AI (Gemini)
GOOGLE_API_KEY=xxxx # Substitua pela sua chave real
GEMINI_API_KEY=xxxx # Substitua pela sua chave real
    
# Tavily
TAVILY_API_KEY=xxxx # Substitua pela sua chave real